<!doctype html>
<html>
  <head>
    <title>Un calculateur</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Un formulaire de calcul de date</h1>
    <p>
      Vous allez saisir une date au format DD/MM/YYYY dans ce formulaire et l'envoi
      du formulaire permettra de calculer des occurences.
    </p>
    <form name="f1" action='/' method="POST">
      <input name="date" type="date" value= "{{ dates['saisie'] }}"/>
      <input name="envoi" type="submit" value="Envoi"  />
    </form>
    <ul>
      {% for n in range(liste_dates|count) %}
      <li>{{ liste_dates[n] }} : {{ dates_affichees[n] }}</li>
      {% endfor %}
      </p>
    </body>
</html>

